In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('summary_buyer_rakamin_store_special.csv')
df

,order_month,user_id,full_name,phone,city,province,email,total_order,total_gmv,total_visit
0,2018-01-01,10000011,Ahmad Budiman,6.287852e+11,Jakarta Pusat,DKI Jakarta,ahmad@gmail.com,127,3492500,235
1,2018-01-01,10000012,Azzam Haqq,6.287852e+11,Surabaya,Jawa Timur,azzam@gmail.co.id,173,4757500,304
2,2018-01-01,10000013,Amrina Putri,6.287852e+11,Jakarta Pusat,DKI Jakarta,amrina@yahoo.co.id,20,550000,62
3,2018-01-01,10000014,Aan Utama,6.287852e+11,Medan,Sumatra Utara,aan@yahoo.com,18,495000,100
4,2018-01-01,10000015,Adam Adi,6.287852e+11,Jakarta Timur,DKI Jakarta,adam@gmail.com,159,4372500,524
...,...,...,...,...,...,...,...,...,...,...
265,2021-09-01,10000036,Gilang Rahaja,6.282234e+11,Jakarta Pusat,DKI Jakarta,gilang@gmail.co.id,68,1870000,101
266,2021-09-01,10000037,Hari Darmawan,6.282234e+11,Bandung,Jawa Barat,hari@yahoo.co.id,5,137500,101
267,2021-09-01,10000038,Heru,6.282234e+11,Bandung,Jawa Barat,heru@yahoo.com,61,1677500,125
268,2021-09-01,10000039,Hesti Putri,6.282234e+11,Medan,Sumatra Utara,hesti@gmail.com,161,4427500,471
269,2021-09-01,10000040,Hirman,6.282234e+11,Medan,Sumatra Utara,hirman@gmail.co.id,102,2805000,309

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_month  270 non-null    object
 1   user_id      270 non-null    int64
 2   full_name    270 non-null    object
 3   phone        265 non-null    float64
 4   city         270 non-null    object
 5   province     270 non-null    object
 6   email        270 non-null    object
 7   total_order  270 non-null    int64
 8   total_gmv    270 non-null    int64
 9   total_visit  270 non-null    int64
dtypes: float64(1), int64(4), object(5)
memory usage: 21.2+ KB